# Java compilado
*.class

# Diretorios de compilacao
out/
bin/
target/
src/solid*
src/exer*

# Arquivos locais gerados pelo jogo
ranking.json
ranking-solid-exercicio10.json

# Configuracoes locais do VS Code
.vscode/

# Configurações do idea
*.iml

#Script execução local
run.sh
